<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../static/icon/favicon.ico">

		<title>Testing App</title>

		<link href="../static/css/bootstrap.min.css" rel="stylesheet">

		<link href="../static/css/jumbotron.css" rel="stylesheet">

	</head>

	<body>
		
		<div class="container">
			<div class="navbar-header">
				<nav class="navbar navbar-inverse navbar-fixed-top">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">ANDAESA</a>
						<ul class="nav nav-pills pull-right">
							<li role="presentation"><a href="/">Home</a></li>
							<li role="presentation" class="active"><a href="#">Register</a></li>
							<li role="presentation"><a href="/login">Sign In</a></li>
						</ul>
				</nav>
			</div>
		

			<div class="jumbotron">
				<h2>This is the register function for this test app</h2>
					<form class="form-signin" action="{{ url_for('register')}}" method="post">
						<label for="username" class="sr-only">Username</label>
						<input type="username" name="username" id="username" class="form-control" placeholder="Username" required>
						<label for="password" class="sr-only">Password</label>
						<input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
						<label for="email" class="sr-only">Email</label>
						<input type="email" name="email" id="email" class="form-control" placeholder="Email" required>

						<button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

					</form>
			</div>

			<footer>
				<p>&copy; andaesa</p>
			</footer>
			
		</div>

	</body>

</html>



